body {
  color: #3c3c3c;
  background-color: #ededed;
  font-family: "Palatino Linotype", "Book Antiqua", "URW Palladio L", Palatino, serif;
  padding: 4px 32px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 4px 4px;
  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

a {
  color: #368dd5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
